<div class="dropdown">
  <select class="form-control" id="sel1" onchange={{action 'select' value="target.value"}}>
  	<option disabled selected value> -- select a modellandscape -- </option>
  	{{#each replayModels as |replayModel|}}
  		<option>{{replayModel}}</option> 
  	{{/each}}
   </select>
</div>