<!--
    Hidden HTML input is programatically clicked, when the user clicks 
    the HTML a element
-->
<a {{action "resetApplication"}} title="Reset To Landscapevisualization">
  <span class="glyphicon glyphicon-menu-left"></span>
</a>