<head>
<link rel="stylesheet" type="text/css" href="../../vendor/style.css">
</head>


<div class="canvas">

  <p> Hello </p>
</div>
<div class="buttonMenu">
	<div class="buttonContainer">
  		<button onclick="addNode()">New Node</button>
  		<button onclick="addNodegroup()">New Nodegroup</button>
  		<button onclick="communication()">Communication</button>
  	</div>
</div>


<script>
  function addNode(){
    alert('addNODE!');
  }

  function addNodegroup(){
    alert('addNODEGROUP!');
  }

  function communication(){
    alert('Communication!');
  }
</script>
